# 필수 유틸
python-dotenv
backoff
fake-useragent

# 데이터 처리
numpy==1.24.4
pandas==2.1.4
sqlalchemy
pymysql

# 웹 크롤링
beautifulsoup4==4.12.3
lxml==4.9.3
trafilatura==1.6.1

# LLM 기반 추천
langchain
langchain-openai
langchain-aws
pydantic

# Vector DB
qdrant-client